{% trans_default_domain 'FOSUserBundle' %}



<h2 class="text-center text-white mb-4">{{ 'security.login.submit'|trans }}</h2>
<div class="row">
    <div class="col-md-6 mx-auto">

        <!-- form card login -->
        <div class="card rounded-0">
            <div class="card-header">
                <h3 class="mb-0">Login</h3>
                {% if error %}
                <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

            </div>
            <div class="card-body">
                

                <form class="form" role="form" autocomplete="off" id="formLogin" novalidate="" action="{{ path("fos_user_security_check") }}" method="post">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}
                    <div class="form-group">
                        <label for="username">{{ 'security.login.username'|trans }}</label>
                        <input type="text" class="form-control form-control-lg rounded-0" name="_username" id="username" value="{{ last_username }}" required="">
                        <div class="invalid-feedback">Oops, you missed this one.</div>
                    </div>
                    <div class="form-group">
                        <label>{{ 'security.login.password'|trans }}</label>
                        <input type="password" name="_password" class="form-control form-control-lg rounded-0" id="password" required="" autocomplete="new-password">
                        <div class="invalid-feedback">Enter your password too!</div>
                    </div>
                    <div>
                        <label >
                          <input name="_remember_me" id="remember_me" type="checkbox" class="form-control form-control-sm" value="on" >
                          <span class="custom-control-indicator"></span>
                          <span class="custom-control-description small text-dark">{{ 'security.login.remember_me'|trans }}</span>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-success btn-lg float-right" id="_submit" name="_submit">{{ 'security.login.submit'|trans }}</button>
                </form>
            </div>
            <div class="card-footer">
                            <div class="d-flex justify-content-center links">
                                    Don't have an account?<a href="{{ path('fos_user_registration_register') }}">Sign Up</a>
                            </div>
                            <div class="d-flex justify-content-center">
                                    <a href="{{ path('fos_user_resetting_request') }}">Forgot your password?</a>
                            </div>
            </div>
                    
            <!--/card-block-->
        </div>
        <!-- /form card login -->

    </div>


</div>
<!--/row-->



