{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Sign In</h3>
<!--				<div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>
					<span><i class="fab fa-twitter-square"></i></span>
	    			</div>
-->
            </div>
			<div class="card-body">
				<form action="{{ path("fos_user_security_check") }}" method="post">
						{% if csrf_token %}
							<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
						{% endif %}
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" name="_username" id="username" class="form-control" placeholder="username">
						
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="password" id="password" name="_password" required="required" autocomplete="current-password" />
					</div>
					<div class="row align-items-center remember">
						<input id="remember_me" name="_remember_me" type="checkbox">{{ 'security.login.remember_me'|trans }}
					</div>
					<div class="form-group">
						<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Don't have an account?<a href="#">Sign Up</a>
				</div>
				<div class="d-flex justify-content-center">
					<a href="#">Forgot your password?</a>
				</div>
			</div>
		</div>
	</div>
</div>
