{% extends 'knp_menu.html.twig' %}

{% import "knp_menu.html.twig" as macros %}

{% block linkElement %}

{% if item.attribute('icon') is not empty  %}
    <a><i class="{{ item.attribute('icon') }}"></i>
{% else %}
    <a href="{{ item.uri }}"{{ macros.attributes(item.linkAttributes) }}>
{% endif %}

{{ block('label') }}

{{ block('custom') }}
    </a>

{% endblock %}

{% block spanElement %}
    <span>{{ macros.attributes(item.labelAttributes) }}>
        {% if item.attribute('icon') is not empty  %}
            <i class="{{ item.attribute('icon') }}"></i>
        {% endif %}
        {{ block('label') }}
	</span>
{% endblock %}

{% block label %}{{ item.label }}{% endblock %}
{% block custom %}
    {% if item.level == 1 %}
        <span class="fa fa-chevron-down"></span>
    {% endif %}
{% endblock %}