<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Dashboard{% endblock %}</title>

    {% block stylesheets %}
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{{ asset('assets/vendors/bootstrap/dist/css/bootstrap.min.css') }}" />
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ asset('assets/vendors/font-awesome/css/font-awesome.min.css') }}" />
    {% endblock %}

    {% block custom_styles %}
        <!-- Custom Theme Style -->
        <link rel="stylesheet" href="{{ asset('assets/css/admin/custom.css') }}" />
    {% endblock %}

</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        {% include 'admin/partials/left_column.html.twig' %}
        {% include 'admin/partials/top_nav.html.twig' %}

        <!-- page content -->
        <div class="right_col" role="main">

            {% block content %}
                <div class="row">
                    <div class="col-sm-12">
                        {% include 'admin/partials/alert_messages.html.twig' %}
                    </div>
                </div>
            {% endblock %}

        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>


    {% block javascript %}
        <!-- jQuery -->
        <script src="{{ asset('assets/vendors/jquery/dist/jquery.min.js') }}"></script>
        <!-- Bootstrap -->
        <script src="{{ asset('assets/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    {% endblock %}


<!-- Custom Theme Scripts -->
<script src="{{ asset('assets/js/custom.min.js') }}"></script>

</body>
</html>
