<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}Welcome!{% endblock %}</title>
       
        <link href="{{ asset('/myassetts/bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
        
        <link href="{{ asset('/myassetts/fontawesome/css/all.css') }}" type="text/css" rel="stylesheet" />

        <link href="{{ asset('/myassetts/css/custom.css') }}" type="text/css" rel="stylesheet" />
        {% block stylesheets %}
        {% endblock %}

    </head>
    <body>
        {% block navigation %}
        <!--NAV-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        {{ pd_menu_render('App\\Menu\\ApplicationMenu', {
                            
                        }) }}
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}                    
                        {{ pd_menu_render('App\\Menu\\UserMenu', {
                            
                        }) }}
                        {% else %}
                        {{ pd_menu_render('App\\Menu\\NouserMenu', {
                            
                        }) }}
                        {% endif %}
                </div>
        </nav>
        <!--NAV-->
        {% endblock %}
        {% block body %}{% endblock %}
        {% block content %}{% endblock %}
        <script src="{{ asset('/myassets/jquery/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('/myassets/popper/popper.min.js') }}" ></script>
        <script src="{{ asset('/myassets/bootstrap/js/bootstrap.bundle.min.js') }}" ></script>           
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
