<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="{{ asset('/myassets/bootstrap.4.3.1/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ '/myassets/bootstrap-4-multi-dropdown-navbar/css/bootstrap-4-navbar.min.css' }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('/myassets/fontawesome/css/all.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('/myassets/css/custom.css') }}" type="text/css" rel="stylesheet" />
        {% block stylesheets %}
        {% endblock %}

    </head>
    <body>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}  {% endif %}
        {% block navigation %}
        <!--NAV-->
    
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            
                    
                        {# Brand and toggle get grouped for better mobile display #}
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                        </button>                        

                            <a class="navbar-brand" href="#">Awesome!</a>
                        
            
                        {# Collect the nav links, forms, and other content for toggling #}
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <!--autonav -->
                            {{ knp_menu_render('main') }}
                            <!--autonav -->
                        </div>
                    
            
        </nav>
    
        <!--NAV-->
        {% endblock %}
        
        {% block content %} {# block content -> von FOSUserBundle --- wenn dieses leer ist wird das dazwischen geparst#}
        {# Haupt-Content Block #}<!--Content-->
            <div class="container-fluid">
                    <div class="row">
                    {% block body %}
                    {% endblock %}
                    </div>
            </div>
        {# Ende des Haupt-Content-Blocks #}<!--Content-End-->
        {% endblock %}
        <script src="{{ asset('/myassets/jquery/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('/myassets/popper/popper.min.js') }}" ></script>
        <script src="{{ asset('/myassets/bootstrap.4.3.1/js/bootstrap.bundle.min.js') }}" ></script> 
        <script src="{{ asset('/myassets/bootstrap-4-multi-dropdown-navbar/js/bootstrap-4-navbar.min.js') }}" ></script>            
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
